<header>
  <dx-toolbar class="header-toolbar">
    <dxi-item *ngIf="menuToggleEnabled"
              location="before"
              widget="dxButton"
              cssClass="menu-button"
              [options]="{
                icon: 'menu',
                stylingMode: 'text',
                onClick: toggleMenu
            }">
    </dxi-item>

    <dxi-item location="before"
              cssClass="header-title"
              *ngIf="title"
              [text]="title">
    </dxi-item>

    <dxi-item location="after"
              locateInMenu="auto"
              menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'" class="dropdown-style">

        <div class="user-info">
          <div style="margin-right: 10px">
            <p>{{time | date:'mediumTime'}}</p>
          </div>
          <div>
            <dx-drop-down-button [useSelectMode]="false"
                                 icon="menu"
                                 [items]="profileSettings"
                                 displayExpr="name"
                                 style="margin-right: 1rem"
                                 keyExpr="id"
                                 [dropDownOptions]="{ width: 'auto', margin: '-10rem' }"
                                 [showArrowIcon]="false"
                                 stylingMode="text"
                                 (onItemClick)="onDropdownItemClick($event)">
            </dx-drop-down-button>
          </div>
        </div>

      </div>
    </dxi-item>
  </dx-toolbar>
</header>

<div>
  <NotificationScreen [visible]="notificationsPopup" (onHide)="onHiding($event)"></NotificationScreen>
</div>
